body {
    margin: 0;
    font-family: Arial, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: rgba(222, 228, 228, 0.793);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
.logo {
    font-weight: bold;
    text-transform: uppercase;
}
.logo span {
    font-size: 13px;
}
.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
}
.hero {
    background: url(https://i.pinimg.com/736x/98/e0/ef/98e0ef6ee48fc77dfe9d32a0a5c69655.jpg) no-repeat center center/cover; 
    height: 94.5dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(18, 18, 18);
    padding: 20px;
}
.overlay {
    background: rgba(255, 255, 255, 0.793);
    padding: 30px;
    border-radius: 1px;
    max-width: 90%;
}
.overlay h1 {
    font-size: 70px;
    margin: 10px 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 600; /* შეგიძლია შეცვალო 200-700 დიაპაზონში */
}
.overlay p {
    font-size: 16px;
    margin-bottom: 20px;
}
.btn {
    text-decoration: none;
    background: rgb(17, 17, 17);
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 1px;
}
@media (max-width: 768px) {
    header {
        padding: 10px 15px;
    }
    .menu-toggle {
        display: block;
    }
    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: rgba(222, 228, 228, 0.9);
        padding: 10px;
    }
    nav ul.active {
        display: flex;
    }
    .overlay h1 {
        font-size: 30px;
    }
}